.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .reserva-detalhes p {
    margin: 5px 0;
  }
  
  .btn-primary {
    margin-top: 20px;
    margin-right: 20px;
  }

  .btn-success{
    margin-top: 20px;
  }
  